@font-face
{
    font-family: 'Roboto';
    src: url('../roboto-fontfacekit/web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
    url('../roboto-fontfacekit/web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
    url('../roboto-fontfacekit/web_fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot') format('eot');
}

@font-face
{
    font-family: 'Shrikhand';
    src: url('../shrikhand/Shrikhand-Regular.otf') format('opentype');
    
}

$breakpoints:
(
  mobile:415px,
  desktop:1025px
);

@mixin bigscreen-only {
  @media screen and (min-width: map-get($breakpoints, desktop))
  {
      @content;
  }
}

@mixin notMobile {
  @media screen and (min-width: map-get($breakpoints, mobile))
  {
      @content;
  }
}

@mixin tablets-only {
  @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, desktop))
  {
      @content;
  }
}

body
{
  font-family: Roboto, Arial, sans-serif;
}

h4
{
  font-family: Shrikhand,Arial,sans-serif;
  margin:0;
  font-size: 1.2em;
  font-weight: normal;
  padding-top:30px;
  margin-left:20px;
  @include notMobile
  {
    text-align: center;
    font-size:1.8em;
  }
}


.fa-arrow-left{
  position:absolute;
  top:5px;
  left:15px; 
  @include tablets-only
  {
    top:30%;
    font-size:1.5em;
  }
  @include bigscreen-only
  {
    font-size:1.5em;
  }
}

header
{
  width: 100%;
  margin: 10px 0px 10px 0px;
  position:relative;
  a
  {
    width:10%;
    color:black;
  }
  figure
  {
    width:90%;
    text-align: center;
    margin:0;
    img
    {
      width: 40%;
      @include bigscreen-only
      {
        width: 10%;
      }
    }
  }
}

.fig_index
{
  width:100%;
}

.localisation
{
  height:40px;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:rgb(221,221,221);
  box-shadow : inset  0 2px 2px 0px rgb(180,180,180);
  i
  {
    margin-right: 15px;
    font-size: 12px;
  }
  p
  {
    margin:0;
    font-size:0.8em;
  }
}

.description
{
  height:270px;
  background-color:rgb(240,240,240);
  text-align: center;
  @include bigscreen-only
  {
    height:220px;
  }
  h1,h2
  {
    margin:auto;
  }
  h1
  {
    width:70%;
    padding-top:30px;
    font-size:1.3em;
  }
  h2
  {
    width:80%;
    padding-top:20px;
    font-weight: normal;
    font-size:1em;
  }
}

button
{
  margin-top:40px;
  border-radius: 20px;
  padding:10px 20px;
  color:white;
  background:linear-gradient(#FF79DA,#9356DC);
  box-shadow:5px 5px 5px rgb(210,210,210);
  border:none;
  cursor: pointer;
  &:hover
  {
    opacity:0.8;
    box-shadow:5px 5px 5px rgb(105,105,105);
  }
}

h3
{
  margin-left:15px;
}

.fonctionnement
{
  padding-top:20px;
  padding-bottom:50px;
}

.fonctionnement_menu
{
  height:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include bigscreen-only
  {
    height:100px;
    flex-direction:row;
    justify-content: space-around;
  }
  div
  {
    width:280px;
    display:flex;
    align-items: center;
    background-color:rgb(245,245,245);
    border-radius: 20px;
    padding:30px 20px;
    box-shadow: 5px 5px 5px rgb(210,210,210);
    &:hover
    {
      background-color:rgba(147,86,220,0.1);
      i
      {
        color:#9356DC;
      }
    }
    p:first-child
    {
      margin:0;
      margin-left:-30px;
      margin-right:15px;
      padding:2px 7px;
      color:white;
      background-color:#9356DC;
      border-radius:50%;
    }
    i
    {
      color:grey;
      margin-right:20px;
      font-size: 20px;
    }
    p:last-child
    {
      margin:0;
      font-weight: bold;
    }
  }
}

.restaurants
{
  background-color:rgb(240,240,240);
  padding-bottom:30px;
  h3
  {
    padding-top:30px;
    margin-bottom:0;
  }
  > div
  {
    width:100%;
    height: 1000px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction:column;
    @include bigscreen-only
    {
      height:650px;
      display:flex;
      flex-direction:row;
      flex-wrap: wrap;
    }
  }
}
@keyframes upMove{
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(-50px);
    // z-index:0;
    // background-color: linear-gradient(#FF79DA,#9356DC);
    
  }
}

@keyframes changeColor{
  from{
    color: rgba(0,0,0,1);
  }
  to{
    color: rgba(0,0,0,0);
  }
}

.vignettes
{
  width:90%;
  height:220px;
  background-color:white;
  border-radius: 10px;
  text-decoration: none;
  color:black;
  position:relative;
  box-shadow:5px 5px 5px rgb(210,210,210);
  @include bigscreen-only
  {
    width:35%;
    height:250px;
  }
 span
 {
   background-color:#99E2D0;
   color:rgb(0,125,0);
   padding:5px 10px;
   position:absolute;
   top:10px;
   right:10px;
   border-radius:5px;
   font-size: 0.8em;
   z-index:4;
 }
 figure
 {
   width:100%;
   height:170px;
   margin:0;
   position:absolute;
   overflow:hidden;
   z-index:3;
   @include bigscreen-only
   {
      width:100%;
      height:200px;
   }
 }
 img
 {
   width:100%;
   height:170px;
   border-radius: 10px 10px 0px 0px;
   object-fit: cover;
   z-index:3;
   @include bigscreen-only
   {
     width:100%;
     height:300px;
     margin-top:-100px;
   }
 } 
 .info_restaurants
 {
    // display:flex;
    // border: 1px solid red;
    position:absolute;
    top: 170px;
    width: 100%;
    @include bigscreen-only
    {
      top:200px;
    }
    div:first-child
    {
      position:absolute;
      top: 10px;
      width:90%;
      // border: 1px solid blue;
      p:first-child
      {
        font-weight: bold;
      }
      p
      {
        margin:0;
        margin-left:10px;
        font-size:0.8em;
      }
    }
    .fillHeart
    {
      width:10%;
      height:100%;
      // border: 1px dashed blue;
      position: absolute;
      right:0px;
      top: 10px;
      // display:flex;
      // justify-content: center;
    }
    // .i
    // {
    //   position: absolute;
    //   right: 50%;
    //   top:0px;
    //   font-size: 1.1em;
    // }
    .testHeart
    {
      position: absolute;
      right: 50%;
      top:0px;
      background: linear-gradient(#FF79DA,#9356DC);
      font-size: 1.1em;
      // -webkit-text-stroke: 1px white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // background-color: -moz-linear-gradient(#ff79da, #9356dc);
    }
    .myClass
    {
      position: absolute;
      right: 50%;
      top:0px;
      font-size: 1.1em;
      // -webkit-text-stroke: 1px green;
      &:hover + .emptySquare{
        animation:upMove 2s forwards;
      }
      &:hover
      {
        animation:changeColor 1s forwards;
      }
      z-index:3;
    }
    
    .emptySquare{
      height:20px;
      width:20px;
      position: absolute;
      // border:1px solid blue;
      background-color: rgba(255,255,255,1);
      right:45%;
      z-index:2;
      top: 0px;
    }
  }
}

// .fa-heart
// {
//   position: absolute;
//   text-align: center;
//   left: 25px;
//   top: 25px;
//   // color: red;
//   //background: -moz-linear-gradient(#ff79da, #9356dc);
//   color: linear-gradient(#ff79da, #9356dc);
// }

footer
{
  height:180px;
  background-color:rgb(60,60,60);
  color:white;
  font-size: 0.8em;
  ul
  {
    padding:0;
    margin-top:10px;
    li
    {
      padding:5px 5px 0 20px;
      list-style-type: none;
      @include notMobile
      {
        text-align: center;
        font-size: 1.2em;
      }
      a
      {
        color:white;
        text-decoration: none;
      }
      .fa-utensils
      {
        margin-right: 10px;
      }
      i
      {
        margin-right:5px;
      }
    }
  }
}

.francaise
{
  background-color: rgb(245,245,245);
  margin-top: -40px;
  z-index:1;
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px 30px 0px 0px;
  h1
  {
    font-family: Shrikhand,Arial,sans-serif;
    margin-bottom:0;
  }
  >div
  {
    width: 90%;
    padding-bottom:10px;
  }
  >div:first-child
  {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .fa-heart
  {
    margin-top:20px;
    margin-right:10px;
  }
  h2
  {
    font-size:0.9em;
    font-weight: normal;
    position: relative;
    padding-top:10px;
    &:after
    {
      content : "";
      position: absolute;
      left    : 0;
      bottom  : -5px;
      width:40px;
      border-bottom:2px solid #99E2D0;
    }
  }
  button
  {
    width:40%;
    margin-top:20px;
    margin-bottom:70px;
    text-align: center;
  }
}

.vignettes_menu
{
  height:60px;
  background-color:white;
  border-radius: 10px;
  margin-bottom:10px;
  box-shadow:5px 5px 5px rgb(210,210,210); 
  div
  {
    display: flex;
    justify-content: space-between;
    & p:first-child
    {
      font-size:0.9em;
    }
  }
  p
  {
    margin:0;
    padding-left:10px;
  }
}

.nom, .prix
{
  font-weight:bold;
  margin:0;
}

.nom
{
  padding-top:8px;
}

.prix
{
  padding-right: 10px;
  font-size: 0.9em;
}

.menu
{
  display: flex;
  flex-direction: column;
  @include bigscreen-only
  {
    flex-direction: row;
    justify-content: space-between;
  }
  >div
  {
    @include bigscreen-only
    {
      width:30%;
    }
  }
}

.photo_pres
{
  margin:0;
  width:100%;
  overflow: hidden;
  img
  {
    width:100%;
    height:100%;
    @include bigscreen-only
    {
      height:600px;
      margin-top:-200px;
      object-fit:cover;
    }
  }
}
